@font-face {
  font-family: Atures;
  src: url(fonts/Atures.ttf);
}
@font-face {
  font-family: Autobus;
  src: url(fonts/Autobus.ttf);
}
*{
  margin: 0;
  padding: 0;
  color: #dadada;
  font-family: Autobus;
  vertical-align: top;
}

html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.body{
  position: absolute;
  background: #1A1A1A;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  overflow: auto;
}

/* bold corner container */

.bold_corner_container{
  background-image: linear-gradient(to right, #7C7C7C 30px, transparent 30px), linear-gradient(to right, #7C7C7C 30px, transparent 30px), linear-gradient(to bottom, #7C7C7C 30px, transparent 30px), linear-gradient(to bottom, #7C7C7C 30px, transparent 30px);
  background-size: 100% 3px, 100% 3px, 3px 100%, 3px 100%;
  background-position: -15px 0%, -15px 100%, 0% -15px, 100% -15px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;

  width: calc(100% - 40px);
  position: relative;
  padding: 20px;
}
.bold_corner_container:before{
  content: ' ';
  border: 1px solid #7C7C7C;
  position: absolute;
  top: 1px;
  left: 1px;
  width:calc(100% - 4px);
  height:calc(100% - 4px);
}


/* content template */

.main_container, .main_container_2{
  display: inline-block;
  width: calc(50% - 20px - 22px);
}
.main_label, .main_label_2{
  border-bottom: 1px solid #414a4c;
  height: 30px;
  padding-left: 10px;
  width: calc(100% - 10px);
  line-height: 25px;
  font-weight: bold;
  font-size: 25px;
}
.main_content, .main_content_2{
  position: relative;
  margin-top: 10px;
  height: calc(100% - 30px - 1px - 10px);
}

.main_container_2{
  position: sticky;
  top: 0px;
}

/* class_container */

.class_container{
  width: 100%;
  height: 100%;
}

.class_label{
  border-bottom: 1px solid #414a4c;
  height: 25px;
  padding-left: 20px;
  width: calc(100% - 20px);
  line-height: 20px;
  font-weight: bold;
  font-size: 20px;
}

.class_content{
  overflow: auto;
  width: 100%;
  height: 100%;
}

/* spell_level*/

.level_content{
}


/* spell_container */

.spell_container{
  margin-top: 5px;
  margin-bottom: 5px;
}
.spell_container.active{
  border: 1px solid #414a4c;
}
.spell_container:hover{
  cursor: pointer;
  border: 1px solid #414a4c;
  margin-top: 4px;
  margin-bottom: 4px;
}
.spell_container:hover .spell_label{
  padding-left: 24px;
}
.spell_container:hover .spell_content{
  padding-left: 39px;
}
.spell_label{
  display: inline-block;
  height: 20px;
  padding-left: 25px;
  width: calc(100% - 25px);
  line-height: 15px;
  font-weight: bold;
  font-size: 15px;
}
.spell_content{
  display: inline-block;
  padding-left: 40px;
  width: calc(100% - 40px);
}


/* long description */
.spell_long_description{
  display: none;
}
.spell_long_description.active{
  display: block;
}